.filmes{
    background-color: #000000;
    color: white;
    width: 100%;
    margin-top: 30px;
    h2{
        color: #FF0000;
        font-size: 40px;
        font-weight: 700;
    }
    img{
        width:248px;
        height: 387px;
    }
    &__caroussel{
        display: flex;
        gap: 30px;
    }
    h3{
        color: white;
    }
}