.menu{
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    img{
        width:103.74px;
        height: 33.24px;
    }
    ul{
        display: flex;
        gap: 20px;
        li{
            list-style: none;
        }
    }
    a{
        text-decoration: none;
        color: white;
    }
}